.VirtualizedSelectOption {
    background-color: #FFFAFA;
    color: #151B8D;
}

.VirtualizedSelectFocusedOption {
  background-color: #2d5e8c;
  color: #FFFAFA;
}

.navbar {
  min-height: 10px;
  max-height: 10px;
}